{% load staticfiles %}
<html>
    <head>
        <title>OKC Quality System</title>
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}"
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <p class="top-menu greeting">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a class="top-menu btn btn-xs btn-default" href="{% url 'login' %}">Login</a>
            {% endif %}
            <h1><a href="/">OKC Quality Management System</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
