{% load staticfiles %}
<html>
    <head>
        <title>OKC Quality System</title>
        <meta charset="utf-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
        <!--FIX: need to move this to the right css file -->
        <style>
          /* Remove the navbar's default margin-bottom and rounded borders */
          .navbar {
            margin-bottom: 0;
            border-radius: 0;
            background-color: #003366;
          }

          /* FIX: need to make active selection grey or light blue background
          .navbar::active {
            background-color: #666660;
          } */
        </style>
        <!--ENDFIX: -->

<!-- TODO: fix the hamburger dropdown. doesn't work. it's there
when the screen shrink's. but there are no menu options. -->

    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">OKC Quality Management System</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><p>Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p></li>
                {% else %}
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
          {% block content %}
          {% endblock %}
    </body>
</html>
