{% extends 'default/base.html' %}

{% block content %}
<div class="table-responsive">
  <table style="width:100%" class="table table-striped">
    <tr>
      <th>Section</th>
      <th>Subsection</th>
      <th>General Question</th>
      <th>Audit Specific Question</th>
      <th>Audit Guidance</th>
      <th style="width:200px">Notes</th>
    </tr>
    {% for question in questions %}
      <tr>
        <td>{{ question.section_num }} {{ question.section_text }}</td>
        <td>{{ question.subsection_num }} {{ question.subsection_text }}</td>
        <td>{{ question.general_question }}</td>
        <td>{{ question.audit_specific }}</td>
        <td>{{ question.audit_guidance }}</td>
        <td> </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
